<footer class="text-center text-white fixed-bottom">
    <!-- Section: Copyright/Social media -->
    <section class="d-flex justify-content-between align-items-center p-3 bottom-section">
        <!-- Left -->
        <div class="d-flex justify-content-center align-items-center ms-3">
            <span class="d-none d-md-inline">Connect with me on social networks:</span>
            <hr class="vr pb-5 my-0 m-3 d-none d-md-inline-block" />
            <div>
                <a href="https://github.com/robbysabo" class="text-white me-4 h2">
                    <i class="fa-brands fa-square-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/robert-sabo-308860212" class="text-white me-4 h2">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://codesandbox.io/u/robbysabo" class="text-white me-4 h2">
                    <i class="fa-regular fa-square"></i>
                </a>
            </div>
        </div>
        <!-- Left -->
        <!-- Right -->
        <div class="me-3">
            <span class="karla"><a class="text-white" href="https://github.com/robbysabo/">Robert Sabo</a> © 2022</span>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
</footer>